Repository fuchsia-programming/scrapers, pull requests merged in 2019-04, with the labels that each got.

#1 Create khan.php
  php/khan.php
Labels: enhancement, php

#4 Create khan.py
  python/khan.py
Labels: enhancement, python

#5 Add FQL file and Upwork Go based scraper
  .gitignore
  fql/upwork.fql
  go/upwork.go
Labels: enhancement, golang

#6 fix rubocop C: Security/Open:
  Gemfile.lock
  ruby/khan.rb
Labels: enhancement, ruby

#7 Refactor
  php/khan.php
  ruby/khan.rb
Labels: enhancement, php, ruby
